<nz-list nzItemLayout="horizontal">
  <nz-list-item [nzActions]="[passwordOp]">
    <ng-template #passwordOp>
      <a (click)="toModal()">修改</a>
    </ng-template>
    <nz-list-item-meta nzTitle="账户密码" [nzDescription]="passwordDesc">
      <ng-template #passwordDesc> 当前密码强度：<span class="text-green">强</span> </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" )>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="password" nzRequired>原密码</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input nz-input formControlName="password" id="password" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="newPassword" nzRequired>新密码</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input nz-input formControlName="newPassword" id="newPassword" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="checkPassword" nzRequired>确认密码</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input nz-input formControlName="checkPassword" id="checkPassword" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nzFor="confirm">
        <nz-form-control nzOffset="12">
          <button nz-button nzType="primary">确认</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-list-item>
</nz-list>



<!-- <nz-list-item [nzActions]="[phoneOp]">
    <ng-template #phoneOp>
      <a (click)="msg.success('Edit')">修改</a>
    </ng-template>
    <nz-list-item-meta nzTitle="密保手机" [nzDescription]="phoneDesc">
      <ng-template #phoneDesc>
        已绑定手机：159****2231
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item> -->
<!-- <nz-list-item [nzActions]="[questionOp]">
    <ng-template #questionOp>
      <a (click)="msg.success('Edit')">修改</a>
    </ng-template>
    <nz-list-item-meta nzTitle="密保问题" [nzDescription]="questionDesc">
      <ng-template #questionDesc>
        未设置密保问题，密保问题可有效保护账户安全
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[emailOp]">
    <ng-template #emailOp>
      <a (click)="msg.success('Edit')">修改</a>
    </ng-template>
    <nz-list-item-meta nzTitle="备用邮箱" [nzDescription]="emailDesc">
      <ng-template #emailDesc>
        已绑定邮箱：cip*****.com
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[mfaOp]">
    <ng-template #mfaOp>
      <a (click)="msg.success('Edit')">修改</a>
    </ng-template>
    <nz-list-item-meta nzTitle="MFA 设备" [nzDescription]="mfaDesc">
      <ng-template #mfaDesc>
        未绑定 MFA 设备，绑定后，可以进行二次确认
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item> -->
