<page-header></page-header>
<div class="team_view">
    <nz-card [nzBordered]="false">
        <form nz-form se-container="1" size="compact" gutter="32" [labelWidth]="null">
            <se label="项目类型" line>
                <tag-select>
                    <nz-tag *ngFor="let i of categories; let idx = index" nzMode="checkable" [nzChecked]="i.value"
                        (nzCheckedChange)="changeCategory($event, idx)">
                        {{ i.text }}
                    </nz-tag>
                </tag-select>
            </se>
            <se label="">
                <div class="ant-form ant-form-inline">
                    <nz-form-item>
                        <nz-form-label nzFor="rate">项目类型</nz-form-label>
                        <nz-form-control>
                            <nz-select [(ngModel)]="q.user" name="user" [nzPlaceHolder]="'不限'" [nzShowSearch]="true"
                                style="width: 100px;">
                                <nz-option [nzLabel]="'技术类'" [nzValue]="'lisa'"></nz-option>
                                <nz-option [nzLabel]="'业余类'" [nzValue]="'lisa'"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzFor="rate">学校</nz-form-label>
                        <nz-form-control>
                            <nz-select [(ngModel)]="q.rate" name="rate" [nzPlaceHolder]="'不限'" [nzShowSearch]="true"
                                style="width: 100px;">
                                <nz-option [nzLabel]="'广东金融学院'" [nzValue]="'good'"></nz-option>
                                <nz-option [nzLabel]="'广东工业大学'" [nzValue]="'good'"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </se>
        </form>
    </nz-card>
    <nz-list [nzRenderItem]="item" [nzDataSource]="proList" [nzGrid]="{ gutter: 24, lg: 5, md: 7, sm: 12, xs: 24 }">
        <ng-template #item let-item>
            <nz-list-item>
                <a [routerLink]="['/team/team-detail',item.id]">
                    <nz-card nzHoverable [nzCover]="cover">
                        <ng-template #cover>
                            <img alt="{{ item.proName }}" src="{{ item.img }}" />
                        </ng-template>
                        <nz-card-meta [nzTitle]="nzTitle" [nzDescription]="item.subDescription">
                            <ng-template #nzTitle>
                                <a (click)="msg.success('标题：' + item.id)">{{ item.proName }}</a>
                            </ng-template>
                        </nz-card-meta>
                        <div>
                            <span class="text-grey">{{item.proDescribe}}</span>
                        </div>
                        <div class="card-item-content">
                            <span>{{item.university}}</span>
                            <span>{{ item.seeNum }}</span>
                            <avatar-list size="mini">
                                <avatar-list-item *ngFor="let m of item.members" [src]="m.avatar" [tips]="m.name">
                                </avatar-list-item>
                            </avatar-list>
                        </div>
                    </nz-card>
                </a>
            </nz-list-item>
        </ng-template>
    </nz-list>
</div>