<page-header [breadcrumb]="breadcrumb" [content]="content" [extra]="extra">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">首页</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>后台管理</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #content>
    <div class="content">
      <div class="avatar">
        <nz-avatar nzSrc="https://gw.alipayobjects.com/zos/rmsportal/lctvVCLfRpYCkYxAsiVQ.png"></nz-avatar>
      </div>
      <div class="desc">
        <div class="desc-title">所有团队管理</div>
        <div>欢迎回到你的团队管理</div>
      </div>
    </div>
  </ng-template>
  <ng-template #extra>
    <div class="page-extra">
      <div>
        <p>团队数</p>
        <p>{{team.length}}</p>
      </div>
      <div>
        <p>项目数</p>
        <p>{{projects.length}}</p>
      </div>
      <div>
        <p>未完成任务数</p>
        <p>
          8
          <span> / 24</span>
        </p>
      </div>
    </div>
  </ng-template>
</page-header>
<div nz-row [nzGutter]="24">
  <div nz-col nzXs="24" nzSm="24" nzMd="12">
    <nz-card nzTitle="团队列表" [nzExtra]="allTeam" [nzBordered]="false" style="min-height: 200px;"
      [nzBodyStyle]="{ 'padding-top.px': 12, 'padding-bottom.px': 12 }" class="mb-lg">
      <ng-template #allTeam>
        <a [routerLink]="['/team/project/project-list']" routerLinkActive="router-link-active">团队管理</a>
      </ng-template>
      <div class="members">
        <div nz-row [nzGutter]="48">
          <div nz-col [nzSpan]="12" *ngFor="let i of team">
            <a (click)="toTeamDetail(i.teamId)">
              <nz-avatar [nzSrc]="i.logo" [nzSize]="'small'"></nz-avatar>
              <span class="member">{{ i.teamName }}</span>
            </a>
          </div>
        </div>
      </div>
    </nz-card>
    <nz-card nzTitle="进行中的项目" [nzExtra]="allProject" [nzBordered]="false" [nzLoading]="loading"
      class="ant-card__body-nopadding mb-lg project-list">
      <ng-template #allProject>
        <!-- <a [routerLink]="['/team/project/project-list']" routerLinkActive="router-link-active">全部项目</a> -->
      </ng-template>
      <div *ngFor="let item of undoneProject;" nz-card-grid class="project-grid">
        <nz-card [nzBordered]="false" class="ant-card__body-nopadding mb0">
          <nz-card-meta [nzTitle]="noticeTitle" [nzDescription]="item.proDescribe">
            <ng-template #noticeTitle>
              <div class="card-title">
                <nz-avatar [nzSrc]="item.logo" [nzSize]="'small'"></nz-avatar>
                <a (click)="toProjectDetail(item.proId)">{{ item.proName }}</a>
              </div>
            </ng-template>
          </nz-card-meta>
          <div class="project-item">
            <a (click)="msg.info('show user: ' + item.member)">{{ item.proStartTime }}</a>
            <span *ngIf="item.proStartTime" class="datetime" title="{{ item.proStartTime }}">
              {{ item.proStartTime | _date: 'fn' }}
            </span>
          </div>
        </nz-card>
      </div>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="12">
    <nz-card nzTitle="需要完成的任务" [nzBordered]="false" class="ant-card__body-nopadding mb-lg">
      <div class="links">
        <st [data]="myTask" [req]="{params: params}" [columns]="columns" (change)="_click($event)"></st>
        <!-- <a *ngFor="let item of myTask" (click)="msg.success(item.taskContent)">{{ item.taskContent }}</a> -->
        <!-- <button nz-button (click)="links.push({ title: 'new titel', href: 'href' })" [nzType]="'dashed'"
          [nzSize]="'small'">
          <i nz-icon nzType="plus"></i>
          <span>添加</span>
        </button> -->
      </div>
    </nz-card>
    <nz-card nzTitle="数据分析" [nzExtra]="teamAnalysis" class="ant-card__body-nopadding mb-lg active-card">
      <g2-pie [hasLegend]="true" title="数据总数" subTitle="数据总数" [total]="total" [data]="salesPieData" height="294">
      </g2-pie>
      <!-- <g2-radar *ngIf="radarData" [data]="radarData" [height]="343" [hasLegend]="true"></g2-radar> -->
    </nz-card>
    <ng-template #teamAnalysis>
      <div class="sales-type-radio">
        <nz-radio-group>
          <label nz-radio-button [nzValue]="'team'" (click)="getTeamAnalysis()">
            团队分析
          </label>
          <label nz-radio-button [nzValue]="'project'" (click)="getProAnalysis()">
            项目分析
          </label>
          <label nz-radio-button [nzValue]="'task'" (click)="getTaskAnalysis()">
            任务分析
          </label>
        </nz-radio-group>
      </div>
    </ng-template>
  </div>
  <!-- <nz-card nzTitle="动态" [nzBordered]="false" [nzLoading]="loading">
      <nz-list nzSize="large" class="activities">
        <nz-list-item *ngFor="let item of activities">
          <nz-list-item-meta [nzAvatar]="item.user.avatar" [nzTitle]="activeTitle" [nzDescription]="activeDescription">
            <ng-template #activeTitle>
              <a (click)="msg.success(item.user.name)" class="username">{{ item.user.name }}</a>
              &nbsp;
              <span class="event" [innerHTML]="item.template"></span>
            </ng-template>
            <ng-template #activeDescription>
              <span class="datetime" title="{{ item.updatedAt }}">{{ item.updatedAt | _date: 'fn' }}</span>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </nz-list>
    </nz-card> -->
</div>

<!-- TODO -->
<!-- <div>
  <nz-card [nzLoading]="loading" [nzBordered]="false" [nzBodyStyle]="{ padding: '0 0 32px' }"
    class="offline-card mt-lg">
    <nz-tabset *ngIf="data.offlineData" [(nzSelectedIndex)]="offlineIdx"
      (nzSelectedIndexChange)="offlineChange($event)">
      <nz-tab *ngFor="let tab of data.offlineData; let i = index" [nzTitle]="nzTabHeading">
        <ng-template #nzTabHeading>
          <div nz-row [nzGutter]="8" style="width: 138px; margin: 8px 0;">
            <div nz-col [nzSpan]="12">
              <number-info [title]="tab.name" [subTitle]="'app.analysis.conversion-rate' | translate" gap="2"
                [total]="tab.cvr * 100 + '%'" [theme]="i !== offlineIdx && 'light'"></number-info>
            </div>
            <div nz-col [nzSpan]="12" style="padding-top: 36px;">
              <g2-pie [animate]="false" [color]="i !== offlineIdx && '#BDE4FF'" [inner]="0.55" [tooltip]="false"
                [padding]="[0, 0, 0, 0]" [percent]="tab.cvr * 100" [height]="64">
              </g2-pie>
            </div>
          </div>
        </ng-template>
        <div class="px-lg">
          <g2-timeline *ngIf="tab.show" [data]="tab.chart" [titleMap]="titleMap"></g2-timeline>
        </div>
      </nz-tab>
    </nz-tabset>
  </nz-card>

</div> -->

<!-- <nz-layout>
    <nz-content>
        <nz-breadcrumb>
            <nz-breadcrumb-item>我的团队</nz-breadcrumb-item>
            <nz-breadcrumb-item>废铁团队</nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-layout class="inner-layout">
            <nz-sider nzWidth="200px" nzTheme="light">
                <ul nz-menu nzMode="inline" class="sider-menu">
                    <li nz-submenu nzOpen nzTitle="我的团队" nzIcon="user">
                        <ul>
                            <li nz-menu-item nzSelected>废铁团队</li>
                            <li nz-menu-item>HOWE团队</li>
                            <li nz-menu-item>option3</li>
                            <li nz-menu-item>option4</li>
                        </ul>
                    </li>
                    <li nz-submenu nzTitle="我参与的团队" nzIcon="laptop">
                        <ul>
                            <li nz-menu-item>option5</li>
                            <li nz-menu-item>option6</li>
                            <li nz-menu-item>option7</li>
                            <li nz-menu-item>option8</li>
                        </ul>
                    </li>
                </ul>
            </nz-sider>
            <nz-content class="inner-content">
                <div class="inner-content-top">
                    <nz-tabset>
                        <nz-tab nzTitle="所有项目">
                            <app-team-management-list></app-team-management-list>
                        </nz-tab>
                        <nz-tab nzTitle="正在进行的项目">
                            <span>正在进行的项目</span>
                        </nz-tab>
                        <nz-tab nzTitle="已完成的项目">
                            <span>已完成的项目</span>
                        </nz-tab>
                    </nz-tabset>
                </div>
                <div>
                    <strong>我的任务</strong>
                    <nz-divider></nz-divider>
                </div>

            </nz-content>
        </nz-layout>
        <nz-footer>
            <span>footer</span>
        </nz-footer>
    </nz-content>
</nz-layout> -->
