<div nz-row nzGutter="24" class="py-lg">
    <div nz-col nzXs="24" nzMd="10" nzOffset="5">
        <nz-card class="mb-lg" class="content_center">
            <nz-content>
                <h2 style="color: blue;">招贤纳士</h2>
                <div>
                    <nz-carousel nzAutoPlay>
                        <div nz-carousel-content *ngFor="let index of array">
                            <h3>{{ index }}</h3>
                        </div>
                    </nz-carousel>
                </div>
                <br>
                <br>
                <div>
                    <nz-descriptions nzTitle="招贤纳士" nzLayout="vertical" style="text-align: left; margin-left: 20px;"
                        nzSize="middle">
                        <nz-descriptions-item nzTitle="发布日期" nzSpan="4">
                            &nbsp;&nbsp;&nbsp;&nbsp;2020.02.02
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="团队描述" nzSpan="4">
                            &nbsp;&nbsp;&nbsp;&nbsp;团队描述信息展示内容
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="技能需求" nzSpan="4">
                            &nbsp;&nbsp;&nbsp;&nbsp;springboot、angular、VUE...
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="规划时间" nzSpan="4">
                            &nbsp;&nbsp;&nbsp;&nbsp;2019.10.01 - 2020.04.01
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="其他信息" nzSpan="4">
                            &nbsp;&nbsp;&nbsp;&nbsp;No. 18, Wantang Road, Xihu District, Hangzhou, Zhejiang, China
                        </nz-descriptions-item>
                    </nz-descriptions>
                </div>

            </nz-content>
            <button nz-button nzType="primary" (click)="apply($event)">申请入队</button>
        </nz-card>
    </div>


    <div nz-col nzXs="24" nzMd="5">
        <nz-card class="mb-lg" class="content_center">
            队长信息
        </nz-card>
    </div>

</div>

<app-apply-modal #applyModalComponent></app-apply-modal>