<div nz-row nzGutter="24" class="py-lg">
  <div nz-col nzXs="24" nzMd="10" nzOffset="5">
    <nz-card class="mb-lg" class="content_center">
      <nz-content>
        <h2>{{teamInfo.teamName}}</h2>
        <!-- <div>
          <nz-carousel nzAutoPlay>
            <div nz-carousel-content *ngFor="let index of array">
              <h3>{{ index }}</h3>
            </div>
          </nz-carousel>
        </div> -->
        <div>
          <nz-descriptions [nzTitle]="" nzLayout="vertical" style="text-align: left; margin-left: 20px;"
            nzSize="middle">
            <nz-descriptions-item nzTitle="发布日期" nzSpan="4">
              &nbsp;&nbsp;&nbsp;&nbsp; {{teamInfo.teamDate}}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="团队描述" nzSpan="4">
              &nbsp;&nbsp;&nbsp;&nbsp;{{teamInfo.teamDescribe}}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="技能需求" nzSpan="4">
              &nbsp;&nbsp;&nbsp;&nbsp;{{teamInfo.staff}}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="规划时间" nzSpan="4">
              &nbsp;&nbsp;&nbsp;&nbsp;{{teamInfo.teamDate}}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="其他信息" nzSpan="4">
              &nbsp;&nbsp;&nbsp;&nbsp;{{teamInfo.teamDate}}
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </nz-content>
      <button nz-button nzType="primary" (click)="apply($event)">申请入队</button>
    </nz-card>
  </div>


  <div nz-col nzXs="24" nzMd="5">
    <nz-card class="mb-lg" class="content_center">
      <nz-descriptions nzTitle="队长信息" style="text-align: left;">
        <nz-descriptions-item nzTitle="姓名" nzSpan="3">{{userInfo.userName}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="学校" nzSpan="3">{{userInfo.university}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="联系方式" nzSpan="3">{{userInfo.userTel}}</nz-descriptions-item>
      </nz-descriptions>
    </nz-card>
  </div>
</div>

<app-apply-modal #applyModalComponent [teamInfo]="teamInfo"></app-apply-modal>
