.content_center {
  text-align: center;
  display: block;
  margin: 0 auto;
}

[nz-carousel-content] {
  text-align: center;
  height: 300px;
  line-height: 300px;
  background: #b2b3b4;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
}
