<nz-modal [nzFooter]="" [nzMaskClosable]="false" [nzWidth]="800" [(nzVisible)]="isVisible" nzTitle="任务详情信息"
  (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzBodyStyle]="{
    'max-height': '455px',
    'min-height': '300px',
    'overflow-y': 'auto',
    'overflow-x': 'hidden',
    padding: '24px 24px 0 24px'
  }">

  <sv-container size="large" col="1">
    <sv label="任务">
      <p *ngIf="task.userId === userId" nz-typography nzEditable [(nzContent)]="task.taskContent"></p>
      <p *ngIf="task.userId !== userId">{{task.taskContent}}</p>
    </sv>
    <sv label="创建者">
      {{task.userName}}
    </sv>
    <sv label="创建时间">{{task.taskCreateTime}}</sv>
    <sv label="生效日期">
      <p *ngIf="task.userId === userId" nz-typography nzEditable [(nzContent)]="task.taskEndTime"></p>
      <p *ngIf="task.userId !== userId">{{task.taskStartTime}} </p>
    </sv>
    <sv label="备注">
      <p *ngIf="task.userId === userId" nz-typography nzEditable [(nzContent)]="task.taskMark"></p>
      <p *ngIf="task.userId !== userId">{{task.taskMark}}</p>
    </sv>
    <sv label="链接">
      <a href={{task.taskLink}} target="_Blank">{{task.taskLink}}</a>
    </sv>
    <sv label="子任务列表">
      <p *ngIf="task.userId === userId" nz-typography nzEditable [(nzContent)]="task.subTaskDtos"></p>
      <p *ngIf="task.userId !== userId">{{task.subTaskDtos}}</p>
    </sv>
  </sv-container>
</nz-modal>
