<div nz-row [nzGutter]="24" class="pt-lg">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="18">
        <nz-card class="team_module" [nzTitle]="'废铁团队' | translate" [nzBordered]="false" class="mb-lg">
            <div nz-row nzGutter="16">
                <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
                    <div nz-row nzType="flex" nzAlign="middle" class="bg-primary rounded-md">
                        <div nz-col nzSpan="24" class="p-md text-white">
                            <div class="h3 mt0">组队系统设计</div>
                            <p class="text-nowrap mb0">项目描述：Website Traffics</p>
                        </div>
                    </div>
                </div>
            </div>
        </nz-card>
    </div>
</div>