<page-header title="团队管理"></page-header>
<nz-layout>
  <nz-sider nzWidth="200px" nzTheme="light">
    <ul nz-menu nzMode="inline" class="sider-menu">
      <li nz-submenu nzTitle="我创建的团队" nzIcon="appstore" nzOpen>
        <ul>
          <li nz-menu-item *ngFor="let item of teams"><a (click)="to(item.teamId)">{{item.teamName}}</a></li>
        </ul>
      </li>
      <li nz-submenu nzTitle="我参与的团队" nzIcon="setting" nzOpen>
        <ul>
          <li nz-menu-item *ngFor="let item of teams"><a (click)="to(item.teamId)">{{item.teamName}}</a></li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <nz-list [nzDataSource]="teams" [nzLoading]="loading" [nzRenderItem]="item" [nzPagination]="pagination">
        <ng-template #item let-item>
          <nz-list-item [nzContent]="nzContent" [nzActions]="[edit, op]">
            <ng-template #edit>
              <a (click)="openEdit(item)">编辑</a>
            </ng-template>
            <ng-template #op>
              <a (click)="delete(item)">删除</a>
            </ng-template>
            <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="item.teamDescribe">
              <ng-template #nzTitle>
                <a style="color: cornflowerblue;font-size: large;">{{ item.teamName }}</a>
              </ng-template>
              <ng-template #nzAvatar>
                <nz-avatar [nzSrc]="item.logo" nzSize="large" [nzShape]="'square'"></nz-avatar>
              </ng-template>
            </nz-list-item-meta>
            <ng-template #nzContent>
              <div class="width-md">
                <div class="d-flex text-grey-dark">
                  <div class="text-right">
                    创建时间
                    <p>{{ item.teamDate }}</p>
                  </div>
                </div>
              </div>
            </ng-template>
          </nz-list-item>
        </ng-template>
        <ng-template #pagination>
          <nz-pagination [nzTotal]="5" [nzPageSize]="5" (nzPageIndexChange)="getData()"></nz-pagination>
        </ng-template>
      </nz-list>
    </nz-content>
  </nz-layout>
</nz-layout>
<!-- 
<nz-card [nzBordered]="false">
</nz-card> -->
