<nz-layout class="inner-layout">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzTitle="我创建的团队" nzIcon="user">
        <ul *ngFor="let item of myTeams">
          <li nz-menu-item>
            <a [routerLink]="['/team/project/project-list/list/',item.teamId]"
              routerLinkActive="active">{{item.teamName}}</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="我参与的团队" nzIcon="team">
        <ul *ngFor="let item of joinTeams">
          <li nz-menu-item>
            <a [routerLink]="['/team/project/project-list/list/',item.teamId]"
              routerLinkActive="active">{{item.teamName}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></i>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2019 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
