<div nz-row nzGutter="24" class="py-lg">
  <div nz-col nzMd="24" nzLg="7" nzOffset="8">
    <nz-card [nzBordered]="false" class="mb-lg" [nzLoading]="!user">
      <ng-container *ngIf="user">
        <div class="avatarHolder">
          <img src="{{ userInfo.userAvatar }}" />
          <div class="name">{{ userInfo.userName }}</div>
          <!-- <div>{{ user.signature }}</div> -->
        </div>
        <div class="detail">
          <p *ngIf="userInfo.gender === '1'"><i class="title"></i>男</p>
          <p *ngIf="userInfo.gender === '0'"><i class="title"></i>女</p>
          <!-- <p><i class="group"></i>{{ user.group }}</p> -->
          <p>
            <i class="address"></i>
            {{ userInfo.university }}
            <!-- {{ user.geographic.city.label }} -->
          </p>
        </div>
        <nz-divider nzDashed></nz-divider>
        <div class="team">
          <div class="tagsTitle">我创建的团队</div>
          <nz-spin [nzSpinning]="!notice">
            <div nz-row nzGutter="36">
              <div nz-col *ngFor="let item of myTeams" nzLg="24" nzXl="12">
                <a href="#" class="text-truncate">
                  <!-- <nz-avatar [nzSrc]="t.logo" nzSize="small"></nz-avatar> -->
                  {{ item.teamName }}
                </a>
              </div>
            </div>
          </nz-spin>
        </div>
        <nz-divider nzDashed></nz-divider>
        <div class="team">
          <div class="teamTitle">我参加的团队</div>
          <nz-spin [nzSpinning]="!notice">
            <div nz-row nzGutter="36">
              <div nz-col *ngFor="let item of joinTeams" nzLg="24" nzXl="12">
                <a href="#" class="text-truncate">
                  <!-- <nz-avatar [nzSrc]="t.logo" nzSize="small"></nz-avatar> -->
                  {{ item.teamName }}
                </a>
              </div>
            </div>
          </nz-spin>
        </div>
      </ng-container>
    </nz-card>
  </div>
  <!-- <div nz-col nzMd="24" nzLg="17">
    <nz-card class="tabsCard" [nzBordered]="false" [nzTitle]="tagTitleTpl">
      <ng-template #tagTitleTpl>
        <nz-tabset nzSize="large" [nzSelectedIndex]="pos">
          <nz-tab *ngFor="let i of tabs" [nzTitle]="i.tab" (nzClick)="to(i)"></nz-tab>
        </nz-tabset>
      </ng-template>
      <router-outlet></router-outlet>
    </nz-card>
  </div> -->
</div>
