<!-- [nzLoadMore]="loadMore" -->
<nz-list class="demo-loadmore-list" [nzDataSource]="projects" [nzItemLayout]="'horizontal'" [nzRenderItem]="item">
  <ng-template #item let-item>
    <nz-list-item [nzContent]="item.loading ? '' : item.proType"
      [nzActions]="item.loading ? [] : [editAction, moreAction]">
      <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="item.loading">
        <ng-template #editAction><a (click)="edit(item)">修改</a></ng-template>
        <ng-template #moreAction><a (click)="edit(item)">删除</a></ng-template>
        <nz-list-item-meta [nzTitle]="nzTitle"
          nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
          [nzDescription]="item.proDescribe">
          <ng-template #nzTitle>
            <a href="https://ng.ant.design">{{ item.proName }}</a>
          </ng-template>
        </nz-list-item-meta>
      </nz-skeleton>
    </nz-list-item>
  </ng-template>
  <!-- <ng-template #loadMore>
    <div class="loadmore">
      <button nz-button *ngIf="!loadingMore" (click)="onLoadMore()">loading more</button>
    </div>
  </ng-template> -->
</nz-list>
