<nz-card style="width: 100%;" nzTitle="任务黑板" [nzExtra]="extraTemplate">
    <nz-card-tab>
        <nz-tabset nzSize="large" [(nzSelectedIndex)]="index">
            <nz-tab nzTitle="任务池"></nz-tab>
            <nz-tab nzTitle="待完成"></nz-tab>
            <nz-tab nzTitle="工作中"></nz-tab>
            <nz-tab nzTitle="已完成"></nz-tab>
        </nz-tabset>
    </nz-card-tab>
    <div *ngIf="index==0">
        <div nz-row nzGutter="24">
            <div nz-col nzSpan="4">
                <a (click)="toTaskDetail('1')">
                    <nz-card style="width:200px; background-color: rgb(196, 195, 193);" [nzBordered]="false"
                        nzTitle="数据库设计">
                        <p>Card content</p>
                    </nz-card>
                </a>
            </div>
            <div nz-col nzSpan="4">
                <nz-card style="width:200px; background-color: rgb(196, 195, 193);" [nzBordered]="false"
                    nzTitle="数据库设计">
                    <p>Card content</p>
                </nz-card>
            </div>
        </div>
    </div>
    <div *ngIf="index==1">
        index1
    </div>
    <div *ngIf="index==2">
        index2
    </div>
    <div *ngIf="index==3">
        index3
    </div>
</nz-card>
<ng-template #extraTemplate>
    <a (click)="create()">新增任务</a>
</ng-template>
<app-task-modal #taskModalComponent></app-task-modal>
<app-task-detail #taskDetailComponent></app-task-detail>