<nz-modal [nzFooter]="" [nzMaskClosable]="false" [nzWidth]="800" [(nzVisible)]="isVisible" nzTitle="任务详情"
  (nzOnCancel)="handleCancel()" [nzBodyStyle]="{
    'max-height': '455px',
    'min-height': '300px',
    'overflow-y': 'auto',
    'overflow-x': 'hidden',
    padding: '24px 24px 0 24px'
  }">
  <sf [schema]="schema" (formSubmit)="submit($event)"></sf>
  <div style="text-align: center;" *nzModalFooter>
    <!-- <button nz-button nzType="default" (click)="handleCancel()">提交</button>
    <button nz-button nzType="primary" (click)="handleOk()">重置</button> -->
  </div>
</nz-modal>