<div class="alain-default__header-logo">
  <strong class="alain-default__nav-item">
    <a class="alain-default__nav-item" href="/index">找团队 | 找项目</a>
  </strong>
</div>
<div class="alain-default__nav-wrap">
  <ul class="alain-default__nav">
    <li>
      <a class="alain-default__nav-item" (click)="temp()">
        <span>校内</span>
      </a>
    </li>
    <li>
      <a class="alain-default__nav-item" (click)="temp()">
        <span>校外</span>
      </a>
    </li>
    <!-- Search Button -->
    <li class="hidden-pc" (click)="searchToggleChange()">
      <div class="alain-default__nav-item">
        <i nz-icon nzType="search"></i>
      </div>
    </li>
  </ul>
  <header-search class="alain-default__search" [toggleChange]="searchToggleStatus"></header-search>
  <ul class="alain-default__nav">
    <li>
      <a nz-dropdown [nzDropdownMenu]="menu" class="alain-default__nav-item">
        新增
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item><a (click)="create()">团队</a></li>
          <li nz-menu-item><a (click)="create()">项目</a></li>
        </ul>
      </nz-dropdown-menu>
    </li>
    <!-- Notify -->
    <li>
      <header-notify></header-notify>
    </li>
    <!-- Task -->
    <li class="hidden-mobile">
      <header-task></header-task>
    </li>
    <!-- 团队管理 -->
    <li>
      <a class="alain-default__nav-item" (click)="toTeamManagement('1')">
        <span>团队管理</span>
      </a>
    </li>
    <li class="hidden-mobile">
      <header-user></header-user>
    </li>
  </ul>
</div>
<!-- <app-team-modal #teamModalComponent></app-team-modal> -->