<div class="alain-default__header-logo">
  <strong class="alain-default__nav-item">
    <a class="alain-default__nav-item" (click)="to()" [routerLink]="['/team']" routerLinkActive="router-link-active">找团队
      | 找项目</a>
  </strong>
</div>
<div class="alain-default__nav-wrap">
  <ul class="alain-default__nav">
    <!-- Menu -->
    <li>
      <div class="alain-default__nav-item" (click)="toggleCollapsedSidebar()">
        <i nz-icon nzType="menu-{{ settings.layout.collapsed ? 'unfold' : 'fold' }}"></i>
      </div>
    </li>
    <li>
      <a class="alain-default__nav-item" (click)="search($event)">
        校内
      </a>
    </li>
    <li>
      <a class="alain-default__nav-item" (click)="search($event)">
        校外
      </a>
    </li>
    <!-- Github Page -->
    <li>
      <a class="alain-default__nav-item" href="//github.com/hellocrw/team-01" target="_blank">
        <i nz-icon nzType="github"></i>
      </a>
    </li>
    <!-- Search Button -->
    <li class="hidden-pc" (click)="searchToggleChange()">
      <div class="alain-default__nav-item">
        <i nz-icon nzType="search"></i>
      </div>
    </li>
  </ul>
  <header-search class="alain-default__search" [toggleChange]="searchToggleStatus"></header-search>
  <ul class="alain-default__nav">
    <li>
      <a nz-dropdown [nzDropdownMenu]="menu" class="alain-default__nav-item">
        新增
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item><a (click)="createTeam('1')">团队</a></li>
          <li nz-menu-item><a (click)="createProject()">项目</a></li>
        </ul>
      </nz-dropdown-menu>
    </li>
    <!-- Notify -->
    <li>
      <header-notify></header-notify>
    </li>
    <!-- Task -->
    <!-- <li class="hidden-mobile">
      <header-task></header-task>
    </li> -->
    <!-- 团队管理 -->
    <li>
      <a class="alain-default__nav-item" (click)="toTeamManagement(userInfo.userId)">
        <span>后台管理</span>
      </a>
    </li>
    <!-- Settings -->
    <li class="hidden-mobile">
      <div class="alain-default__nav-item" nz-dropdown [nzDropdownMenu]="settingsMenu" nzTrigger="click"
        nzPlacement="bottomRight">
        <i nz-icon nzType="setting"></i>
      </div>
      <nz-dropdown-menu #settingsMenu="nzDropdownMenu">
        <div nz-menu style="width:200px;">
          <div nz-menu-item>
            <header-fullscreen></header-fullscreen>
          </div>
          <div nz-menu-item>
            <header-storage></header-storage>
          </div>
          <!-- <div nz-menu-item>
            <header-i18n></header-i18n>
          </div> -->
        </div>
      </nz-dropdown-menu>
    </li>
    <li class="hidden-mobile">
      <header-user></header-user>
    </li>
  </ul>
</div>
<app-new-team-modal #newTeamModalComponent></app-new-team-modal>
<app-new-project-modal #newProjectModalComponent></app-new-project-modal>
