<div nz-row [nzGutter]="24" class="pt-lg" nzJustify="center">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="15" nzOffset="4">
    <nz-card [nzBordered]=" false" class="team_module" nzTitle="团队列表" [nzBordered]="false" class="mb-lg">
      <nz-list nzItemLayout="vertical" [nzDataSource]="teams" [nzRenderItem]="item" [nzLoadMore]="loadMore">
        <ng-template #item let-item>
          <nz-list-item [nzContent]="nzContent" [nzExtra]="nzExtra">
            <ng-template #nzExtra>
              <div style="width: 272px; height: 1px;"></div>
            </ng-template>
            <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="nzDescription">
              <ng-template #nzTitle>
                <a (click)="toApply(item.teamId)" style="color:cornflowerblue;font-size: large;">{{ item.teamName }}</a>
              </ng-template>
              <ng-template #nzDescription>
                <nz-tag>{{item.teamType}}</nz-tag>
              </ng-template>
            </nz-list-item-meta>
            <ng-template #nzContent>
              <p>团队描述:&nbsp;{{ item.teamDescribe }}</p>
              <div class="mt-md d-flex">
                <span class="px-sm">发布时间</span>
                <time class="pl-md text-grey" title="{{ item.teamDate }}">{{ item.teamDate }}</time>
              </div>
            </ng-template>
          </nz-list-item>
        </ng-template>
        <ng-template #loadMore>
          <div class="text-center mt-md">
            <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
          </div>
        </ng-template>
      </nz-list>
    </nz-card>
  </div>
