<nz-card nzTitle="普通用户数据分析" [nzExtra]="teamAnalysis" class="ant-card__body-nopadding mb-lg active-card">
  <g2-pie [hasLegend]="true" title="总数" subTitle="总数" [total]="total" [data]="salesPieData" height="294">
  </g2-pie>
  <!-- <g2-radar *ngIf="radarData" [data]="radarData" [height]="343" [hasLegend]="true"></g2-radar> -->
</nz-card>
<ng-template #teamAnalysis>
  <!-- <div class="sales-type-radio">
      <nz-radio-group>
        <label nz-radio-button [nzValue]="'all'">
          团队分析
        </label>
        <label nz-radio-button [nzValue]="'online'">
          项目分析
        </label>
        <label nz-radio-button [nzValue]="'offline'">
          任务分析
        </label>
      </nz-radio-group>
    </div> -->
</ng-template>
